<footer class="footer">
  <small>
    <a href="https://github.com/jitscar/task_manager_demo">Task Manager Demo</a>
    by jitscar
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", "https://github.com/jitscar" %></li>
    </ul>
  </nav>
</footer>